<div class="opponent row">
  <div class="d-flex justify-content-center mt-2 mb-2">
    <h3>Opponent's Choice</h3>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <img src="../../assets/{{opponentsChoice}}.jpg" alt="" />
    <h1 class="text-uppercase">{{ opponentsChoice }}</h1>
  </div>
</div>

<div class="timer d-flex justify-content-center align-items-center">
  <div class="d-flex justify-content-center align-items-center">
    <h1>{{ timer }}</h1>
  </div>
</div>

<div class="wrapper row">
  <div class="d-flex justify-content-center mb-3">
    <h3>Choose Your Weapon</h3>
  </div>

  <div class="img-wrapper col-md-4" (click)="setPlayersChoice(Choice.Rock)">
    <div class="inside-wrapper">
      <img src="../../assets/rock.jpg" alt="" />
      <span>ROCK</span>
    </div>
  </div>
  <div class="img-wrapper col-md-4" (click)="setPlayersChoice(Choice.Paper)">
    <div class="inside-wrapper">
      <img src="../../assets/paper.jpg" alt="" />
      <span>PAPER</span>
    </div>
  </div>
  <div class="img-wrapper col-md-4" (click)="setPlayersChoice(Choice.Scissor)">
    <div class="inside-wrapper">
      <img src="../../assets/scissors.jpg" alt="" />
      <span>SCISSOR</span>
    </div>
  </div>
</div>
